NEXT_PUBLIC_SUPABASE_URL=https://vxniaapnaqbpogmfqluj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ4bmlhYXBuYXFicG9nbWZxbHVqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUyMzM2MDEsImV4cCI6MjA5MDgwOTYwMX0.25TLjhWZNxRKhftTkTVZX4iV6bgjBQnDrb56RYbQt1E
